<section  data-aos="fade-up-right" class="contact pt-100 pb-100" id="contact">
  <div class="container">
     <div class="row">
        <div class="col-xl-6 mx-auto text-center">
           <div class="section-title mb-100">
              <p>get in touch</p>
              <h4>contact me</h4>
           </div>
        </div>
     </div>
     <div class="row text-center">
           <div class="col-md-8">
            <form   action="https://formspree.io/galaxyscriptin@gmail.com"  method="POST" class="contact-form">
                 <div class="row">
                    <div class="col-xl-6">
                       <input type="text" placeholder="name" name="Name">
                    </div>
                    <div class="col-xl-6">
                       <input type="email" placeholder="email" name="email">
                    </div>
                    <div class="col-xl-6">
                       <input type="text" placeholder="subject" name="subject">
                    </div>
                    <div class="col-xl-6">
                       <input type="text" placeholder="telephone"  name="telephone">
                    </div>
                    <div class="col-xl-12">
                       <textarea placeholder="message" cols="30" rows="10" name="message" ></textarea>
                       <input type="submit" value="send">
                    </div>
                 </div>
              </form>
           </div>
           <div class="col-md-4">
              <div class="single-contact">
                 <i class="fa fa-map-marker"></i>
                 <h5>Address</h5>
                 <p> SRA B3 building A wing 1403 Andheri East Mumbai </p>
              </div>
              <div class="single-contact">
                 <i class="fa fa-phone"></i>
                 <h5>Phone</h5>
                 <p>(+91-9806701954)</p>
              </div>
              <div class="single-contact">
                 <i class="fa fa-envelope"></i>
                 <h5>Email</h5>
                 <p>galaxyscriptin@gmail.com</p>
              </div>
           </div>
     </div>
  </div>
</section>