
      <app-header2></app-header2>
      <section id="portfolio-container" class="padding-60">
          <div class="container">
              <div class="row">
              <div class="col-md-12">
               <div class="text-center">
                <h1 class="padding-b-25">OUR PORTFOLIO</h1>
               </div>
              </div>
             </div>
           <div class="row">
             <div class="text-center">
               <div class="toolbar mb2 mt2 padding-b-25">
               <button class="btn fil-cat active" href="" data-rel="all">All</button>
               <button class="btn fil-cat" data-rel="bcards">Product</button>
               <button class="btn fil-cat" data-rel="advertising">Appication</button>
               <button class="btn fil-cat" data-rel="web">Websites</button>
               <button class="btn fil-cat" data-rel="flyers">Blog</button>
            
               </div> 
             </div> 
      
             <div style="clear:both;"></div>   
             <div id="portfolio">
       
             <div class="tile scale-anm bcards all">
             <img src="assets/img/ifacecrm.png" alt="" />
             </div>
             <div class="tile scale-anm web all">
              <img src="assets/img/Our-project5.png" alt="" />
              </div>
             <div class="tile scale-anm web all">
             <img src="assets/img/Our-project3.png" alt="" />
             </div>
             <div class="tile scale-anm web all">
             <img src="assets/img/Our-project.png" alt="" />
             </div>
             <div class="tile scale-anm  advertising">
           <img src="assets/img/Food-app2.png" alt="" />
             </div>
             <div class="tile scale-anm  advertising">
              <img src="assets/img/E-commerce.png" alt="" />
                </div>
                <div class="tile scale-anm  advertising">
                  <img src="assets/img/Hotel.png" alt="" />
                    </div>
             <div class="tile scale-anm bcards all">
             <img src="assets/img/Our-project6.png" alt="" />
             </div>
             <div class="tile scale-anm flyers all ">
            <img src="assets/img/amanblog.png" alt="" />
             </div>
    

             <div class="tile scale-anm flyers all">
           <img src="assets/img/ak.png" alt="" />
             </div>
   
             <div class="tile scale-anm bcards all">
           <img src="assets/img/Our-project7.png" alt="" />
             </div> 
       </div>
             <div style="clear:both;"></div>   
           </div>
          </div>
         </section>
      
         <app-footer></app-footer>