<div class="ourServices aos-init" data-aos="zoom-in" data-aos-duration="2000">
    <div class="company_value_head_style" id="service-hader">
        <h3> Our Project </h3>
        <div class="line_color"></div>
        <div class="small_line"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="title_data_box" data-target="#tab1">Office 320
                                <div class="click"> Click</div>
                            </div>
                         
                        </span>

                        <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="title_data_box">Hotel Tasker CRM
                                <div class="click"> Click</div>
                            </div>
                        </span>
                        <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="title_data_box">HeavenVilla
                                <div class="click"> Click</div>
                            </div>
                        </span> <span class="side-tab" data-target="#tab4" data-toggle="tab" role="tab"
                            aria-expanded="false">
                            <div class="title_data_box">Iface CRM
                                <div class="click"> Click</div>
                            </div>
                        </span>
                        <span class="side-tab" data-target="#tab5" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="title_data_box">Webdesky
                                <div class="click"> Click</div>
                            </div>
                        </span> <span class="side-tab" data-target="#tab6" data-toggle="tab" role="tab"
                            aria-expanded="false">
                            <div class="title_data_box">Gelio   <div class="click"> Click</div></div>
                        </span>
                        <span class="side-tab" data-target="#tab7" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="title_data_box">    <div class="click"> Click</div>NTK </div>
                        </span>
                        <span class="side-tab" data-target="#tab8" data-toggle="tab" role="tab" aria-expanded="false">
                            <div class="title_data_box" >   <div class="click"> Click</div>Air Fly</div>
                        </span>
                    </div>

                </div>

            </div> <!-- /col-md-4 -->

            <div class="col-md-8">
                <!-- begin macbook pro mockup -->
                <div class="md-macbook-pro md-glare">
                    <div class="md-lid">
                        <div class="md-camera"></div>
                        <div class="md-screen">
                            <!-- content goes here -->
                            <div class="tab-featured-image">
                                <div class="tab-content">
                                    <div class="tab-pane  in active" id="tab1">
                                        <img src="../../assets/img/Our-project6.png" alt="tab1"
                                            class="img img-responsive">
                                    </div>
                                    <div class="tab-pane " id="tab2">
                                        <img src="../../assets/img/Our-project7.png" alt="tab1"
                                            class="img img-responsive">

                                    </div>
                                    <div class="tab-pane fade" id="tab3">
                                        <img src="../../assets/img/Our-project8.png" alt="tab1"
                                            class="img img-responsive">
                                    </div>
                                    <div class="tab-pane fade" id="tab4">
                                        <img src="../../assets/img/ifacecrm.png" alt="tab1" class="img img-responsive">
                                    </div>
                                    <div class="tab-pane fade" id="tab5">
                                        <img src="../../assets/img/Our-project5.png" alt="tab1"
                                            class="img img-responsive">
                                    </div>
                                    <div class="tab-pane fade" id="tab6">
                                        <img src="../../assets/img/Our-project.png" alt="tab1"
                                            class="img img-responsive">
                                    </div>
                                    <div class="tab-pane fade" id="tab7">
                                        <img src="https://akanshagraphicdesigner.files.wordpress.com/2019/02/conference2.png?w=700"
                                            alt="tab1" class="img img-responsive">
                                    </div>
                                    <div class="tab-pane fade" id="tab8">
                                        <img src="https://akanshagraphicdesigner.files.wordpress.com/2019/02/airofly2.png?w=700"
                                            alt="tab1" class="img img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-base"></div>
                </div> <!-- end macbook pro mockup -->
            </div> <!-- / .col-md-8 -->
        </div>
        <!--/ .row -->
    </div>
    <section data-aos="zoom-in-up" class="aos-init">
        <div class="ourServices aos-init" data-aos="zoom-in" data-aos-duration="2000">
            <div class="company_value_head_style" id="service-hader">
                <h3> Our Servies </h3>
                <div class="line_color"></div>
                <div class="small_line"></div>
            </div>
        </div>
        <div class="container"  data-aos="zoom-in" data-aos-duration="2000">
            <div class="row mbr-justify-content-center">
                <!-- <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap"><span class="mbr-iconfont fa-laptop fa"></span></div>
                        <div class="text-wrap vcenter aos-init" data-aos="zoom-in" data-aos-duration="2000">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> WEB
                                <span>APPLICATIONS</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6"> YoungDevelopers designs
                                unique websites using content management systems including Drupal, WordPress and
                                Magento. Our experts have several years experience in designing and developing
                                various kinds of websites, ranging from a single-page </p>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap"><span class="mbr-iconfont fa-cart-plus fa"></span></div>
                        <div class="text-wrap vcenter aos-init" data-aos="zoom-in" data-aos-duration="2000">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                CRM <span>Development</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6"> CRM or Customer Relationship Management
                                is a strategy for managing an organisation's relationships and interactions with
                                customers and potential customers. A CRM system helps companies stay connected to
                                customers, streamline processes, and improve profitability. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap"><span class="mbr-iconfont fa-mobile fa"></span></div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">App
                                <span>development</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Recognised for
                                making apps for businesses that lead to innovation, we specialize in custom and
                                cross-platform mobile app development. Apart from creating Android and iOS apps we
                                also help our clients with analytics, go-to-market strategy, world-class support,
                                and hosting.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap"><span class="mbr-iconfont fa-volume-up fa"></span></div>
                        <div class="text-wrap vcenter aos-init" data-aos="zoom-in" data-aos-duration="2000">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                MOBILE <span>APPLICATIONS</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6"> Having a website
                                is not sufficient in this age when mobile devices are ruling the world. Irrespective
                                of the scale of operation of the business, a firm needs a good quality mobile
                                application. Webdesky is a renowned IT company that has expert developers </p>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap"><span class="mbr-iconfont fa-laptop fa"></span></div>
                        <div class="text-wrap vcenter aos-init" data-aos="zoom-in" data-aos-duration="2000">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> Web
                                <span>development</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6"> We’re able to
                                serve any requirement from the design and development of a basic marketing website
                                to a large scale custom web application that is the nucleus of your business with an
                                in-house team of full-time web designers, front-end web developers and web
                                application programmers. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap"><span class="mbr-iconfont fa-line-chart fa"></span></div>
                        <div class="text-wrap vcenter aos-init" data-aos="zoom-in" data-aos-duration="2000">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                Digital <span>marketing</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6"> From email
                                marketing, search engine optimization (SEO), search engine marketing (Google AdWords
                                management), social media management, conversion rate optimization and content
                                writing; we have it all with abundant expertise and tools to craft a solution that
                                provides real results. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap"><span class="mbr-iconfont fa-cogs fa"></span></div>
                        <div class="text-wrap vcenter aos-init" data-aos="zoom-in" data-aos-duration="2000">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                Software <span>development</span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6"> We build projects
                                that serve millions worldwide. We assist you at every stage of software development
                                life cycle, whether you are a startup or an established company. From
                                conceptualization to development and support, we do it all under the umbrella of
                                custom software development.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap"><span class="mbr-iconfont fa-trophy fa"></span></div>
                        <div class="text-wrap vcenter aos-init" data-aos="zoom-in" data-aos-duration="2000">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">SEO
                                <span>&amp; Internet Marketing </span></h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6"> SEARCH ENGINE
                                OPTIMIZATION is an approach of procedures, systems and strategies used to expand the
                                measure of guests to a website by getting a high-positioning situation in the list
                                items page of an internet searcher, including Google, Bing, Yahoo and other web
                                indexes. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>