
    <div class="ourServices aos-init aos-animate" data-aos="zoom-in" data-aos-duration="2000">
        <div class="company_value_head_style" id="service-hader">
            <h3 _ngcontent-c4=""> Our Project </h3>
            <div class="line_color"></div>
        </div>
    </div>
    <div class="ourServices aos-init" data-aos="zoom-in" data-aos-duration="2000">
        <section id="slider"><input checked="" id="slide-1-radio" name="slider"
                type="radio"><input id="slide-2-radio" name="slider" type="radio"><input
                id="slide-3-radio" name="slider" type="radio">
            <div class="slides">
                <div class="slide"><a _ngcontent-c4=""
                        href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg"><img _ngcontent-c4=""
                            alt="slide-1"
                            src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-2_zpsbhnq7ilq.jpg"></a>
                </div>
                <div class="slide"><a _ngcontent-c4=""
                        href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg"><img _ngcontent-c4=""
                            alt="slide-1"
                            src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-4_zps0l2k6veh.jpg"></a>
                </div>
                <div class="slide"><a _ngcontent-c4=""
                        href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg"><img _ngcontent-c4=""
                            alt="slide-1"
                            src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a>
                </div>
            </div>
            <div class="prev-arrow arrow"><label for="slide-1-radio"
                    id="prev-1-arrow"><i class="material-icons"> arrow_back </i><span _ngcontent-c4=""
                        class="thumb"><img alt="slide-1-thumb"
                            src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-2_zpsbhnq7ilq.jpg"></span></label><label
                    for="slide-2-radio" id="prev-2-arrow"><i class="material-icons">
                        arrow_back </i><span class="thumb"><img alt="slide-2-thumb"
                            src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-4_zps0l2k6veh.jpg"></span></label><label
                    for="slide-3-radio" id="prev-3-arrow"><i class="material-icons">
                        arrow_back </i><span class="thumb"><img alt="slide-3-thumb"
                            src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></span></label>
            </div>
            <div class="next-arrow arrow"><label for="slide-1-radio"
                    id="next-1-arrow"><i class="material-icons"> arrow_forward </i><span
                        class="thumb"><a href=""><img _ngcontent-c4=""
                                alt="slide-1-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-2_zpsbhnq7ilq.jpg"></a></span></label><label
                    for="slide-2-radio" id="next-2-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-2-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-4_zps0l2k6veh.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label><label
                    for="slide-3-radio" id="next-3-arrow"><i class="material-icons">
                        arrow_forward </i><span class="thumb"><a href=""><img
                                alt="slide-3-thumb"
                                src="http://i1079.photobucket.com/albums/w520/hurricane_h10/banner-1_zpsdrbee0ys.jpg"></a></span></label>
            </div>
        </section>
        <section data-aos="zoom-in-up" class="aos-init">
            <div class="ourServices aos-init" data-aos="zoom-in" data-aos-duration="2000">
                <div class="company_value_head_style" id="service-hader">
                    <h3 _ngcontent-c4=""> Our Servies </h3>
                    <div class="line_color"></div>
                </div>
            </div>
            <div class="container">
                <div class="row mbr-justify-content-center">
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap"><span _ngcontent-c4=""
                                    class="mbr-iconfont fa-volume-up fa"></span></div>
                            <div class="text-wrap vcenter aos-init" data-aos="zoom-in"
                                data-aos-duration="2000">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> WEB
                                    <span _ngcontent-c4="">APPLICATIONS</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6"> Webdesky designs
                                    unique websites using content management systems including Drupal, WordPress and
                                    Magento. Our experts have several years experience in designing and developing
                                    various kinds of websites, ranging from a single-page </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap"><span _ngcontent-c4=""
                                    class="mbr-iconfont fa-calendar fa"></span></div>
                            <div class="text-wrap vcenter aos-init" data-aos="zoom-in"
                                data-aos-duration="2000">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    Ecommerce <span _ngcontent-c4="">solutions</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6"> Experts in
                                    designing commercially viable and successful online stores for an extensive range of
                                    industries. We work with leading e-commerce platforms like Magento, X-Cart,
                                    OsCommerce, Shopify, OpenCart, and WooCommerce. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap"><span _ngcontent-c4=""
                                    class="mbr-iconfont fa-globe fa"></span></div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">App
                                    <span _ngcontent-c4="">development</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6">Recognised for
                                    making apps for businesses that lead to innovation, we specialize in custom and
                                    cross-platform mobile app development. Apart from creating Android and iOS apps we
                                    also help our clients with analytics, go-to-market strategy, world-class support,
                                    and hosting.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap"><span _ngcontent-c4=""
                                    class="mbr-iconfont fa-volume-up fa"></span></div>
                            <div class="text-wrap vcenter aos-init" data-aos="zoom-in"
                                data-aos-duration="2000">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    MOBILE <span _ngcontent-c4="">APPLICATIONS</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6"> Having a website
                                    is not sufficient in this age when mobile devices are ruling the world. Irrespective
                                    of the scale of operation of the business, a firm needs a good quality mobile
                                    application. Webdesky is a renowned IT company that has expert developers </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap"><span _ngcontent-c4=""
                                    class="mbr-iconfont fa-volume-up fa"></span></div>
                            <div class="text-wrap vcenter aos-init" data-aos="zoom-in"
                                data-aos-duration="2000">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> Web
                                    <span _ngcontent-c4="">development</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6"> We’re able to
                                    serve any requirement from the design and development of a basic marketing website
                                    to a large scale custom web application that is the nucleus of your business with an
                                    in-house team of full-time web designers, front-end web developers and web
                                    application programmers. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap"><span _ngcontent-c4=""
                                    class="mbr-iconfont fa-volume-up fa"></span></div>
                            <div class="text-wrap vcenter aos-init" data-aos="zoom-in"
                                data-aos-duration="2000">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    Digital <span _ngcontent-c4="">marketing</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6"> From email
                                    marketing, search engine optimization (SEO), search engine marketing (Google AdWords
                                    management), social media management, conversion rate optimization and content
                                    writing; we have it all with abundant expertise and tools to craft a solution that
                                    provides real results. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap"><span _ngcontent-c4=""
                                    class="mbr-iconfont fa-volume-up fa"></span></div>
                            <div class="text-wrap vcenter aos-init" data-aos="zoom-in"
                                data-aos-duration="2000">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    Software <span _ngcontent-c4="">development</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6"> We build projects
                                    that serve millions worldwide. We assist you at every stage of software development
                                    life cycle, whether you are a startup or an established company. From
                                    conceptualization to development and support, we do it all under the umbrella of
                                    custom software development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap"><span _ngcontent-c4=""
                                    class="mbr-iconfont fa-trophy fa"></span></div>
                            <div class="text-wrap vcenter aos-init" data-aos="zoom-in"
                                data-aos-duration="2000">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">SEO
                                    <span _ngcontent-c4="">&amp; INTERNET MARKETING </span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6"> SEARCH ENGINE
                                    OPTIMIZATION is an approach of procedures, systems and strategies used to expand the
                                    measure of guests to a website by getting a high-positioning situation in the list
                                    items page of an internet searcher, including Google, Bing, Yahoo and other web
                                    indexes. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>