
      <app-header2></app-header2>
      
    <div class="row">
      <div class="col-md-offset-1 col-sm-10 col-md-10 col-sm-offset-1 pd-add">
        <div class="address-item">
          <div class="address-icon">
            <i class="icon icon-location2"></i>
          </div>
          <h3>Headquarters Mumbai </h3>
          <p>SRA 1403  B3 building A wing 
            <br> Andheri East Mumbai  400053 </p>
        </div>
        <div class="address-item">
          <div class="address-icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <h3>Email Us</h3>
          <a href="mailto:galaxyscriptin@gmail.com" target="_top">galaxyscriptin@gmail.com</a>
        </div>
        <div class="address-item">
          <div class="address-icon">
            <i class="icon icon-headphones"></i>
          </div>
          <h3>Call Us</h3>
          <p><a href="tel:9806701954">Call   (+91-9806701954)</a></p>
        </div>
      </div>
    </div><!-- end row -->

      <app-footer></app-footer>
