


.pd-add {
    padding: 70px 0px;
}

.address-item {
    float: left;
    padding: 0px 15px;
    width: 100%;
    margin: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.address-icon {
    padding: 15px 0px;
}

.address-icon i {
    font-size: 38px;
    color: #393939;
}

.address-item h3 {
    font-size: 28px;
    font-weight: 600;
    color: #1b4124;
}

.dmtop.show {
    bottom: 20px;
}